/home/vivek/Documents/Python Programs/RMSD_2D/__pycache__
/home/vivek/Documents/Python Programs/RMSD_2D/.vscode
.vscode/settings.json
__pycache__/file_loader.cpython-37.pyc
__pycache__/file_loader.cpython-37.pyc
